<!DOCTYPE html>
<head>
    <title>Pusher Test</title>
    <script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        var team = "{{ team }}";
        var username = "{{ username }}";
    </script>


</head>
<body>
<script type="text/javascript">
    var localhost_flag = window.location.search;
    if(localhost_flag){

        $('body').load('http://localhost/teamgames/chat/static/html/page.html');
        $.getScript('http://localhost/teamgames/chat/static/js/src.js');
        $("head").append("<link>");
        var css = $("head").children(":last");
        css.attr({
            rel:  "stylesheet",
            type: "text/css",
            href: "http://localhost/teamgames/chat/static/css/styles.css"
        });

    }
    else{
        $.ajaxSetup({
            cache: true
        });
        $('body').load('../static/html/page.html', function(){
            var get_src = "<script src='../static/js/src.js' type='text/javascript' />"
            $('head').append(get_src);
        });


        $("head").append("<link>");
        var css = $("head").children(":last");
        css.attr({
            rel:  "stylesheet",
            type: "text/css",
            href: "../static/css/styles.css"
        });
    }
</script>

</body>


</html>