<h1>Team Chess</h1>
<div id="chess" class="col-md-8">
</div>
<div id="chat-wrapper" class="col-md-4">
	<p id="player-name"></p>
	<p id="chat-box"></p>

	<button type="button" class="btn btn-primary" id="submit-message">Go</button>
	<span id="text-input-wrapper">
		<input id="text-input" />
	</span>
</div>